NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/toy_wms?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="toy_wms_access_super_secret_jwt_key_2026_secure"
JWT_REFRESH_SECRET="toy_wms_refresh_super_secret_jwt_key_2026_secure"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:3000"
COURIER_VOLUMETRIC_DIVISOR=5000
